[Unit]
Description=Add Flatpak remote for user
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak --user remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo

[Install]
WantedBy=default.target
